html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #369, #258);
}

.game {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.container {
    background: #fff;
    font-family: 'Permanent Marker', sans-serif;
    height: 300px;
    position: relative;
    width: 900px;
}

.container:after {
    background: #234;
    bottom: 0;
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
}

.container:before {
    content: 'The Game of Shells';
    color: #fff;
    font-size: 80px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -120px;
}

.controls {
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    justify-content: center;
    padding: 30px;
}

.controls button,
.controls .custom-select {
    background: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #222;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0 .5em;
}

.controls .custom-select select {
    padding: .75em 1.5em .75em 1.25em;
}

.controls button {
    padding:.9em 1.25em;
}

.results {
    display: inline-block;
    color: #fff;
    font-size: 1.6em;
    padding-left: 2em;
}

.shell {
    background: #789;
    border: 0;
    border-radius: 50px 50px 0 0;
    font-family: 'Permanent Marker', sans-serif;
    height: 200px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    transition: all .2s ease;
    text-align: center;
    top: 80px;
    width: 200px;
}

.shell:after {
    background: linear-gradient(0deg, #123, #345);
    border-radius: 20px;
    bottom: 0;
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    height: 20px;
}

.shell-no {
    border: 6px solid #abc;
    border-radius: 100%;
    color: #abc;
    display: inline-block;
    height: 100px;
    font-size: 70px;
    line-height: 100px;
    margin-top: 0;
    width: 100px;
}

.shell:hover {
    cursor: pointer;
}

.ball {
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    height: 50px;
    width: 200px;
    position: absolute;
}

.ball:before {
    background: linear-gradient(135deg, #555, #000);
    border-radius: 100%;
    content: '';
    position: absolute;
    bottom: 20px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    width: 50px;
}

.zindex-back {
    z-index: 1;
}

.zindex-top {
    z-index: 10;
}

.pos-1 {
    transform: translate3d(-300px, 0, 0);
}

.pos-1.lift {
    transform: translate3d(-300px, -70px, 0);
}

.pos-2 {
    transform: translate3d(0, 0, 0);
}

.pos-2.lift {
    transform: translate3d(0, -70px, 0);
}

.pos-3 {
    transform: translate3d(300px, 0, 0);
}

.pos-3.lift {
    transform: translate3d(300px, -70px, 0);
}

.is-hidden {
    display: none;
}